---
username: {{ oxidized_user }}
password: "{{ oxidized_passwd }}"
model: timos
interval: 43200
use_syslog: true
log: {{ oxidized_log_dir }}
debug: {{ oxidized_log_debug }}
threads: 30
timeout: 60
retries: 1
rest: {{ oxidized_web_listen }}:{{ oxidized_web_port }}
next_adds_job: false
vars:
  auth_methods: [ "publickey", "password", "keyboard-interactive" ]
groups:
  arubarouter:
     username: oxidized
     password: $2y$10$Gp
  arubahqswitch:
     username: oxidized.procurve.aruba
     password: FVP0+BLM8WfVqQ
  aristaclientrouter:
     username: oxidized.7050s-client.arista
     password: Ui6CZZjRPDM7rA
     vars:
        enable: true
  aristadcrouter:
     username: oxidized.7050s-dc.arista
     password: Ui6CZZjRPDM7rA
     vars:
        enable: true
  fortigatefw:
     username: oxidized
     password: $2y$10$Gp
  huaweidslam:
     username: oxidized
     password: Vc0InGopnAca0g
     vars:
        ssh_no_keepalive: true
        ssh_encryption: 3des-cbc
        ssh_hmac: hmac-md5
        ssh_kex: diffie-hellman-group1-sha1
  nokiarouter:
     username: oxidized.sros.nokia
     password: sWzu8570WUzYaA
     vars:
        ssh_kex: diffie-hellman-group1-sha1
  nokiaolt:
     username: isadmin
     password: 'ANS#150'
     vars:
        ssh_no_keepalive: true
        ssh_host_key: ssh-rsa,ssh-dss
#models:
#  smartax5600:
#     vars:
#        ssh_no_keepalive: true
#        ssh_encryption: 3des-cbc
#        ssh_hmac: hmac-md5
#        ssh_kex: diffie-hellman-group1-sha1
pid: "/var/run/oxidized/oxidized.pid"


input:
  default: ssh
  debug: {{ oxidized_log_debug }}
  ssh:
    secure: false


output:
  default: git
  file: 
  directory: "{{ oxidized_storage_dir }}/output/configs"
  git:
    user: Oxidized
    email: o@example.com
    repo: "{{ oxidized_storage_dir }}/output/oxidized.git"


source:
  default: csv
  csv:
    file: "{{ oxidized_config_dir }}/.config/oxidized/router.db"
    delimiter: !ruby/regexp /:/
    map:
      name: 0
      model: 1
      group: 2
    gpg: false
model_map:
  cisco: ios
  juniper: junos
hooks:
#  slack:
#    type: slackdiff
#    events: [post_store]
#    token: xoxb-348267620273-F7eAu86H7BW8PNiKvRRMQNoZ
#    channel: "#network_changes"
  failed_logfile:
    type: exec
    events: [node_fail]
    async: true
    cmd: 'echo "oxidized backup failure : node $OX_NODE_NAME group $OX_NODE_GROUP timestamp $(date +%Y%m%d-%H%M%S) job_status $OX_JOB_STATUS" >> {{ oxidized_log_dir }}/oxidized_node_failure.log'
