---
username: {{ oxidized_user }}
password: "{{ oxidized_passwd }}"
model: timos
interval: 43200
use_syslog: true
log: {{ oxidized_log_dir }}
debug: {{ oxidized_log_debug }}
threads: 30
timeout: 60
retries: 1
rest: {{ oxidized_web_listen }}:{{ oxidized_web_port }}
next_adds_job: false
pid: "{{ oxidized_pid }}"
vars:
  auth_methods: [ "{{ oxidized_auth_method | join('", "') }}" ]

groups:
{% for grp in oxidized_config_groups %}
  {{ grp.name }}:
    username: {{ grp.username }}
    password: {{ grp.password }}
{% if grp.vars is defined %}
    vars:
      {{ grp.vars|indent(6) }}
{% endif %}
{% endfor %}

input:
  default: ssh
  debug: {{ oxidized_log_debug }}
  ssh:
    secure: false

output:
  default: git
  file: 
  directory: "{{ oxidized_storage_dir }}/output/configs"
  git:
    user: Oxidized
    email: o@example.com
    repo: "{{ oxidized_storage_dir }}/output/oxidized.git"

source:
  default: csv
  csv:
    file: "{{ oxidized_config_dir }}/.config/oxidized/router.db"
    delimiter: !ruby/regexp /:/
    map:
      name: 0
      model: 1
      group: 2
    gpg: false

model_map:
  cisco: ios
  juniper: junos

{% if oxidized_config_hooks is defined %}
hooks:
  {{ oxidized_config_hooks|indent(2) }}
{% endif %}
